<div class="menuContainer" *ngIf="routing.url!=='/login'" >
    <div class="menuLeftContent">
        <ul>
            <li id="homeMenu">
                <div class="menuList first">
                  <a routerLink="/home" routerLinkActive="active">
                    <p><img src="../assets/images/LinenLogo.svg" alt="Linen" width="96" height="23"></p>
                  </a>
                </div>
            </li>
            <li>
                <div class="menuList "  routerLinkActive = "active">
                  <p class="icon"><img src="../assets/images/home.png" alt="" width="23" height="19" /></p>
                  <p class="menuText">Home</p>
                  <aside></aside>
                </div>
            </li>
            <li>
                <div class="menuList">
                  <p class="icon"><img src="../assets/images/masterData.png" alt="" width="15" height="20" /></p>
                  <p class="menuText">Master Data</p>
                  <aside></aside>
                </div>
            </li>
            <li>
                <div class="menuList"  routerLinkActive = "active">
                  <p class="icon"><img src="../assets/images/calendar.png" alt="" width="23" height="21" /></p>
                  <p class="menuText">Calendar</p>
                  <aside></aside>
                </div>
            </li>
            <li>
                <div class="menuList"  routerLinkActive = "active">
                  <p class="icon"><img src="../assets/images/map.png" alt="" width="22" height="21" /></p>
                  <p class="menuText">Map</p>
                  <aside></aside>
                </div>
            </li>
          </ul>
      </div>
      <div class="menuRightContent">
        <ul>
          <li>
            <div class="rightMenu first">
              <a >
              <p id="lBtn"><img src="../assets/images/Logout.png" alt="" width="21" height="21"></p>
              </a>
            </div>
          </li>
          <li>
            <div class="rightMenu">
              <p><img src="../assets/images/profilephoto.png" alt="" width="36" height="36"></p>
              <p id="pName">Kaitlin</p>
            </div>
          </li>
          <li>
            <div class="rightMenu first">
              <p><img src="../assets/images/searchIcon.png" alt="" width="26" height="24"></p>
            </div>
          </li>
          <li>
            <div class="rightMenu first">
              <p><img src="../assets/images/Notification.png" alt="" width="20" height="23"></p>
              <div id="nCountContainer">
                <p>2</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
  <!--Sales Credit Module -->
  <mat-sidenav-container  class="example-container" autosize  style="height:93vh;width: 100%;float: left;" >
      <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true"  *ngIf="routing.url!=='/login'"> 
        <app-salesCreditSidenav ></app-salesCreditSidenav>
      </mat-sidenav> 
      <div class="example-sidenav-content" style="top:2vh;position:relative;">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-container>
  